.header{
  width:85%;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
   border-radius: 20px;
    display: flex;
    background-color:rgb(255, 255, 255);
    justify-content:space-between;
}
.logo{width: 30%;
 padding-left: 20px;
 color: rgb(16, 16, 129);
}
.logo p{
    font-size:40px;
    font-weight: bold;
}
.nav{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width:60%;
}
.nav a{

  margin-top:auto;
  margin-bottom:auto;
  font-size: 19px;
  font-weight: bold;
  color: blue;
}
.nav button{
  border: none;
  background-color:white;
}

@media only screen and (max-width: 900px) {
  .header{
    width:100%;
    flex-direction: column;
  }
  .logo{
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
   
    
  }
  .nav a{
    
    margin-left: auto;
    margin-right: auto;
    width:100%;
   
  
  }
}